@import './vars';

.home {
  margin: 80px 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .home__container {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .home__h1 {
      font-size: 25px;
      width: 220px;
      text-align: center;
      border-bottom: 2px solid var(--color-secondary);
    }

    .home__layout {
      display: flex;
      gap: 15px;
      overflow: auto;
      scroll-behavior: smooth;

      &::-webkit-scrollbar {
        height: 5px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: var(--color-secondary);
      }
    }
  }
}

@media (min-width: 768px) {
  .home {
    .home__container {
      .home__h1 {
        font-size: 30px;
      }
    }
  }
}