.listTitles {
  margin: 80px 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .listTitles__h1 {
    font-size: 25px;
    max-width: 120px;
    text-align: center;
    border-bottom: 2px solid var(--color-secondary);
  }

  .listTitles__layout {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}

@media (min-width: 768px) {
  .listTitles {
    .listTitles__layout {
      grid-template-columns: repeat(2, 1fr);
    }

    .listTitles__h1 {
      font-size: 30px;
    }
  }
}

@media (min-width: 1024px) {
  .listTitles {
    .listTitles__layout {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (min-width: 1440px) {
  .listTitles {
    .listTitles__layout {
      margin: 0 auto;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}